@using SladkarnicaHvarchilo.Common

@{
    this.ViewData["Title"] = "Добави нова торта";
    string currentDate = @DateTime.Now.ToString("yyyy-MM-dd");
}

@if (!string.IsNullOrEmpty(this.ViewBag.UserMessage))
{
    <h1 class="userErrorMessage">@this.ViewBag.UserMessage</h1>
}

<h1 class="text-center"><strong>@this.ViewData["Title"]</strong></h1>
<div class="container text-center" style="width: 70%; background-color: antiquewhite; opacity: 0.97; border: 2px solid; border-color: white; border-radius: 15px">
    <div class="col-md-10 mx-auto">
        <form method="post" asp-area="Administration" asp-controller="CakeManager" asp-action="AddNewCake" autocomplete="off" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3 mb-3">
                <label for="Name" class="control-label" style="font-size: 14pt; font-weight: bold;">Име</label>
                <input name="Name" placeholder="Име..." class="form-control" type="text" minlength="@GlobalConstants.DessertsValidationConstants.NameMinLength" maxlength="@GlobalConstants.DessertsValidationConstants.NameMaxLength" required />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="Description" class="control-label" style="font-size: 14pt; font-weight: bold;">Описание</label>
                <textarea name="Description" placeholder="Описание..." class="form-control" type="text" rows="3" cols="6" style="white-space: pre-line" minlength="@GlobalConstants.DessertsValidationConstants.DescriptionMinLength" maxlength="@GlobalConstants.DessertsValidationConstants.DescriptionMinLength" required></textarea>
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="Ingredients" class="control-label" style="font-size: 14pt; font-weight: bold;">Съставки</label>
                <input name="Ingredients" placeholder="Съставки..." class="form-control" type="text" minlength="@GlobalConstants.DessertsValidationConstants.IngredientsMinLength" maxlength="@GlobalConstants.DessertsValidationConstants.IngredientsMaxLength" required />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="Allergens" class="control-label" style="font-size: 14pt; font-weight: bold;">Алергени(полето не е задължинелно)</label>
                <input name="Allergens" placeholder="Алергени..." class="form-control" type="text" minlength="@GlobalConstants.DessertsValidationConstants.AllergensMinLength" maxlength="@GlobalConstants.DessertsValidationConstants.AllergensMaxLength" />
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="Pieces" class="control-label" style="font-size: 14pt; font-weight: bold;">Брой парчета</label>
                <input name="Pieces" placeholder="0" class="form-control" type="number" step="1" required />
            </div>
            <div class="form-group mb-3">
                <label for="Price" class="control-label" style="font-size: 14pt; font-weight: bold;">Цена(лв.)</label>
                <input name="Price" placeholder="0.00" class="form-control" type="number" step=".01" min="@GlobalConstants.DessertsValidationConstants.PriceMinValue" max="@GlobalConstants.DessertsValidationConstants.PriceMaxValue" required />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="ImageFile" style="font-size: 14pt; font-weight: bold;">Симнка</label>
                <input type="file" class="form-control" name="ImageFile" required />
            </div>
            <br />
            <div class="d-grid gap-2 col-4 mx-auto">
                <input class="btn btn-success" style="width: 70%; font-size: 14pt; font-weight: bold;" value="Добави" type="submit" />
                <input class="btn btn-dark mb-3" style="width: 70%; font-size: 14pt; font-weight: bold;"  value="Назад" onclick="history.back()">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}