@using System.Text
@using SladkarnicaHvarchilo.Common;
@using SladkarnicaHvarchilo.Web.ViewModels.CakePiecesInfo;
@using SladkarnicaHvarchilo.Web.ViewModels.Cakes;

@model CakeFullDataViewModel

@{
    this.ViewData["Title"] = $"{this.Model.Name}";
}

@if (this.ViewBag.UserMessage != null)
{
    <h1 class="userInfoMessage">
        <i>@this.ViewBag.UserMessage</i>
    </h1>
    <br />
}

<div class="contentSection fallDownAnimationNoDelay">
    <div class="dessertDetailsBox">
        <div>
            <img class="dessertPhotoSize" id="myImg" alt="@this.Model.Name" src="~/img/Cakes/@this.Model.ImageFileDirectoryPath">
            <div id="myModal" class="modal">
                <span class="close"><i class="fa-regular fa-circle-xmark"></i></span>
                <p class="modelDessertNameText" id="caption">@this.Model.Name</p>
                <img class="modal-content" id="dessertPhoto">
            </div>
            <div class="mt-5">
                <img alt="Няма икона" src="~/img/Common/Price icon.png" class="dessertDetaislIcon"><text class="dessertLabelText"> Цена</text>
            </div>
            @foreach (PriceInfoViewModel priceInfo in this.Model.PriceInfo)
            {
                <div class="dessertPriceText">
                    <text class="regularFontText">@priceInfo.Pieces</text><text style="color: #444444;"> парчета </text><text class="regularFontText">@priceInfo.FormatedPrice лв.</text>
                </div>
            }
        </div>
        <div>
            <div class="dessertTitleText mb-0">@this.ViewData["Title"]</div>
            <div class="dessertDescriptionText">@this.Model.Description</div>
            <div class="mb-0">
                <img alt="Няма икона" src="~/img/Common/Ingredients icon.png" class="dessertDetaislIcon"><text class="dessertLabelText"> Съставки</text>
            </div>
            <div class="ingredientsText mt-0 mb-4">
                <text>@this.Model.Ingredients</text>
            </div>
            @if (!string.IsNullOrEmpty(this.Model.Allergens))
            {
                <div class="mb-0">
                    <img alt="No image" src="~/img/Common/Allergens icon.png" class="dessertDetaislIcon"><text class="dessertLabelText"> Алергени</text>
                </div>
                <div class="mt-0 mb-4">
                    <text class="allergernsText">@this.Model.Allergens</text>
                </div>
            }
            <div class="mb-0">
                <img alt="Няма икона" src="~/img/Common/Food info icon .png" class="dessertDetaislIcon"><text class="dessertLabelText"> Хранителни информация</text>
                <button id="displayFoodInfoBtn" class="btn btn-info foodInfoBtnMargin" onclick="displayFoodInfo()" title="Информация за хранителните стойности"><i class="fa-solid fa-list"></i></button>
                <button id="hideFoodInfoBtn" class="btn btn-danger foodInfoBtnMargin" style="display: none;" onclick="hideFoodInfo()" title="Скрий хранителните стойности"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="foodInfoSectionPadding">
                <table id="foodInfoSection" class="foodInfoTable" style="display: none;">
                    <tr style="border-bottom: 0.1em solid gray;">
                        <td class="foondInfoLabel fw-bold">Стойности</td>
                        <td class="foondInfoValue fw-bold">за 100 гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">Енергия</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Energy</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">Мазнини</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Fat гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">- от които наситени</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.SaturatedFat гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">Въглехидрати</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Carbs гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">- от които захари</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Sugar гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">Белтъчини</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Protein гр.</td>
                    </tr>
                    <tr>
                        <td class="foondInfoLabel">Сол</td>
                        <td class="foondInfoValue">@this.Model.NutritionInfo.Salt гр.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <p class="d-flex justify-content-center container mt-3">
                <div class="mb-2" style="font-size: 1.5em;">
                    <i><strong>Администраторска секция</strong></i>
                </div>
                <div class="container text-center" style="width: 40%; backdrop-filter: blur(100px); border: 2px solid; border-color: white; border-radius: 15px">
                    <i class="fa fa-apple"></i>
                    <div>
                        <p style="font-size: 1.5em;"><strong>Тортата е добавена на:</strong> @this.Model.CreatedOn.ToString(GlobalConstants.AdministrationSettingsDateTimeFormat)</p>
                        @if (this.Model.ModifiedOn != null)
                        {
                            <p style="font-size: 1.5em;"><i><strong>Последни промени са направени на:</strong></i> @this.Model.ModifiedOn.Value.ToString(GlobalConstants.AdministrationSettingsDateTimeFormat)</p>
                        }
                        <br />
                    </div>
                    <p class="d-grid gap-2 mx-auto">
                        <a class="btn btn-secondary" style="font-size: 1.5em;" asp-area="Administration" asp-controller="CakeManager" asp-action="EditCake" asp-route-id="@this.Model.Id">Редактирай</a>
                        <a class="btn btn-danger" style="font-size: 1.5em;" onclick="return confirm('Сигурни ли сте, че искате да премахнете торта @this.Model.Name ?');" asp-area="Administration" asp-controller="CakeManager" asp-action="DeleteCake" asp-route-id="@this.Model.Id">Премахни</a>
                        <input class="btn btn-dark" style="font-size: 1.5em;" value="Назад" onclick="history.back()">
                    </p>
                </div>
            </p>
        }
    </div>
</div>

<script>

    function displayFoodInfo() {
        document.getElementById('displayFoodInfoBtn').style.display = "none";
        document.getElementById('hideFoodInfoBtn').style.display = "inline";
        removeScrolling();
        document.getElementById('foodInfoSection').style.display = "block";
        document.getElementById('foodInfoSection').className = 'swipeLeftAnimationNoDelay';

        restoreScrolling (500, null)
    };

    function hideFoodInfo() {
        document.getElementById('displayFoodInfoBtn').style.display = "inline";
        document.getElementById('hideFoodInfoBtn').style.display = "none";

        removeScrolling();
        document.getElementById('foodInfoSection').classList.add('fallDownAnimationNoDissapear');
        restoreScrolling('foodInfoSection', 800)
    };

    function removeScrolling() {
        $('html, body').css({
            overflow: 'hidden',
            height: '100%'
        });
    }

    function restoreScrolling(elementId, delayTime) {
        setTimeout(function () {
            if (elementId != null){
                document.getElementById(elementId).style.display = "none";
            }
            $('html, body').css({
                overflow: 'auto',
                height: 'auto'
            });
        }, delayTime);
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("dessertPhoto");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function () {
        modal.style.display = "none";
    }

</script>
